* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	background: #fff;
}
li {
	list-style: none;
	margin: 10px 20px;
}
#main-nav img,
#main-footer img {
	height: 2rem;
}
#main-nav li {
	text-transform: uppercase;
	display: inline;
}
a {
	text-decoration: none;
}
.text-dark {
	color: #000000;
}
.text-light {
	color: #ffffff;
}
.btn {
	background-color: #079fd0;
	color: #fff;
	border: none;
	border-radius: 10px;
	padding: 10px 60px;
	cursor: pointer;
}
.container {
	margin: 20px 50px;
}
#main-nav {
	max-width: 100vw;
}
#main-nav .nav-container {
	display: flex;
	align-items: center;
}
#main-nav .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.showcase-container {
	background-color: #c4c4c4ad;
	max-width: 75vw;
}
.showcase-content {
	max-width: 30vw;
	margin: 3vh 5vw;
	height: 85vh;
}
#showcase .showcase-img {
	background: url("/img/main.png") no-repeat center center/cover;
	width: 500px;
	height: 300px;
	position: absolute;
	top: 12rem;
	right: 5rem;
}
#showcase h1 {
	font-weight: 900;
	font-size: 15rem;
}
#showcase h3 {
	color: #fff;
	width: 25vw;
	font-size: 2rem;
	text-transform: uppercase;
}
#showcase p {
	color: #fff;
	width: 20vw;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}
#home-articles .article-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 3em 0;
}
#home-articles .article-img-1 {
	background: url("/img/cat1.png") no-repeat center center/cover;
	width: 45vw;
	height: 30vw;
}
#home-articles .article-img-2 {
	background: url("/img/cat2.png") no-repeat center center/cover;
	width: 45vw;
	height: 30vw;
}
#home-articles .article-content {
	margin: 0 8em;
}
#home-articles .article-content h2,
#secondary-article h3 {
	font-size: 2em;
	margin-bottom: 1em;
}
#home-articles .article-content p,
#secondary-article p {
	margin-bottom: 3em;
}
#home-articles h2,
#home-articles a,
#secondary-article a,
#secondary-article h3,
#secondary-article h2 {
	color: #079fd0;
	text-transform: uppercase;
	font-weight: bold;
}
#secondary-article h2 {
	text-align: center;
	margin: 4rem auto;
}
#secondary-article .articles-sm {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#secondary-article .article-container-sm {
	margin: 2em;
}
.article-img-sm {
	width: auto;
	height: 13em;
}
.article-img-1 {
	background: url("/img/ebo1.jpg") no-repeat center center/cover;
}
.article-img-2 {
	background: url("/img/ebo2.jpg") no-repeat center center/cover;
}
.article-img-3 {
	background: url("/img/ebo2.jpg") no-repeat center center/cover;
}
#main-footer {
	background-color: #c4c4c433;
	height: 20em;
	padding-top: 1em;
}
#main-footer .footer-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	max-width: 90vw;
}
.footer-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer-copyright {
	font-weight: bold;
	padding-left: 8em;
}
